* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family: "Poppins", sans-serif;
  color: white;
  position: relative;
}

.weather {
  position: absolute;
  top: 1%;
  right: 1%;
  font-size: 1rem;
  background: white;
  color: black;
  height: 100px;
  width: 125px;
  border-radius: 5px;
  text-align: center;
  padding: 0.25rem;
}

#title {
  background: black;
  color: white;
  border-radius: 5px;
}

.temp-cond {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#temp {
  padding: 0.25rem;
}

#condition {
  width: 35px;
  height: 35px;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#time {
  padding-top: 10rem;
  font-size: 7rem;
  pointer-events: none;
}

.greeting-name {
  font-size: 2rem;
  display: flex;
  padding-bottom: 3rem;
}

#greeting {
  pointer-events: none;
}

#name:focus,
#name:active {
  outline: none;
}

#quote {
  font-size: 1rem;
  padding-top: 8rem;
}

@media (max-width: 450px) {
  #time {
    font-size: 4rem;
  }

  .greeting-name {
    font-size: 1.5rem;
  }
}
